body {
	margin: 0;
	background-color: #f0f0f0;
	min-height: calc(100vh + 1px);

}

#root {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

* {
	box-sizing: border-box;
	font-family: "Roboto", "sans-serif";
}