body{
    background-image: url(../../../utils/img/BackVector.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.company-job-offers{
    width: 90%;
    max-width: 1373px;
}

@media (max-width: 720px){
    .company-job-offers{
        display: gird;
    }
}