
.form {
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 10px;
	width: fit-content;
	height: fit-content;	
	min-width: 350px;
  max-width: 720px;
}

.form-description {
	font-style: italic;
	margin-bottom: 0;
}

